div{

    position:absolute;
    width: 400px;
    height: 400px;
    
    transition: 0.5s;
    
    
}

.uno{
    
    z-index: 4;
    transform: scale(1);
    
    
}
.dos{
    
    left: 200px;
    z-index: 3;
    transform: scale(0.5);
    

}
.tres{
    
    left: 300px;
    z-index: 2;
    transform: scale(0.4);
     
    
}
.cuatr{
    
    left: 350px;
    z-index: 1;
    transform: scale(0.3);
    
}
.cinc{
    
    left: 400px;
    z-index: 0;
    transform: scale(0.1);
    
}
